.context {
  height: 100%;
  width: 100%;
  position: relative;

  .head {
    height: 64px;
    background: #0071e3;
    color: #fff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    .headLeft {
      font-weight: bold;
      font-size: 24px;
    }
    .headMid {
      margin-left: 40px;
      .menus {
        border: 0;
        background: transparent;

        :global {
          .ant-menu-item {
            margin-right: 6px;
            border-radius: 10px;
            &::after {
              border-width:0;
            }
          }
          .ant-menu-title-content {
            color: #fff;
          }
          .ant-menu-item-active {
            .ant-menu-title-content {
              font-weight: bold;
            }
            background-color: #3e87d1;
            border-radius: 10px;
            &::after {
              border-width:0;
            }
          }
          .ant-menu-item-selected {
            background-color: #3e87d1;
            border-radius: 10px;
            &::after {
              border-width:0;
            }
          }
        }
      }
    }
    .headRight {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-left: auto;

      .popup {
        display: flex;
        gap: 8px;
        flex-direction: row;
        flex-wrap: wrap;
        div {
          min-width: 100px;
        }
      }
    }
  }

  .innerContent {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    flex-grow: 1;
  }
}

.logoutModal {
  .modalTitle {
    font-weight: 600;
    line-height: 31px;
    color: #000000;
    margin-bottom: 68px;
  }
  :global {
    .ant-modal {
      width: 437px !important;
    }
  }
}